/開発メモ.txt
Server_GUI2/bin/Release/World_Data/
/push.bat
/pull.bat
.vs/
Archive/
MigrationBackup/
Server_GUI2/Resource/
Server_GUI2/obj/
Server_GUI2/bin/
Setup_ServerStarter/
UnitTestProject1/bin/
UnitTestProject1/obj/
/get_count.py
/TestResults
/obj