/開発メモ.txt
Server_GUI2/bin/Release/World_Data/
/push.bat
.vs/
Server_GUI2/Resource/
Server_GUI2/obj/
/pull.bat
Server_GUI2/bin/Server_Starter.zip
Server_GUI2/bin/When_Using_upload.bat
Server_GUI2/bin/Release/log
Server_GUI2/bin/Release/All-VerWor.json
Setup_ServerStarter/