@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Quicksand:wght@500&family=Shadows+Into+Light&family=Zen+Kaku+Gothic+Antique&display=swap');

*{
  font-family: 'Quicksand', 'Zen Kaku Gothic Antique', 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
}

*{
  font-size: calc(16px + 0.25vw);
}

ul,
ol {
  list-style: none;
}

body{
  background-color: #f8f8f8;
}

:link, :visited { 
  text-decoration: none;
  color:unset;
}

h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  font-weight: 400;
}

h2 {
  font-family: 'Quicksand', 'Zen Kaku Gothic Antique', 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding-bottom: 3rem;
  color: #333;
}

h2::after{
  content: " -";
}

h2::before{
  content: "- ";
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

header{
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  /* background-color: #f8f8f8; */
  z-index: 1;
}

header hr{
  position: absolute;
  width: 95%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: auto;
  height: 1px;
  background-color: #aaa;
  border-style:none;
}

header a{
  font-size: 1.4rem;
  color: #333;
}

.header{
  width: 95%;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_items{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  margin-left: auto;
  height:  3rem;
  width: fit-content;
}

.header_items .header_item::after{
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  content: "/";
  margin-left: 8px;
  margin-right: 8px;
  color:#aaa;
}

.header_item:last-child::after{
  content: none;
}


.header_subitems{
  position: absolute;
  background-color: #eee;
  padding: 5px;
}

.header_title{
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_title_title{
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  /* letter-spacing: -0.05em; */
}

.title{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: auto;
  bottom: auto;
  font-size: 2rem;
}

.title_block{
  text-align: center;
}

.title_title{
  font-size:3.5rem;
  font-weight: 900;
  color: #000;
  margin-bottom: 15px;
  /* color: rgba(0,0,0,0); 
  background-image: url("./nether.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-clip: text; */
}

.title_subTitle{
  font-size:1.6rem;
}

.title_for{
  color: #333;
  font-weight: 400;
  font-size: 0.8em;
}

.TopBottom{
  height: max-content;
}

.top{
  position: sticky;
  top:0;
  height: fit-content;
  background-color: #f8f8f8;
}

.bottom{
}

.LeftRight{
  display: flex;
}

.left{
  top:0;
  width:3rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.scroll{
  width: inherit;
  left:0;
  right:0;
  bottom: 0;
}

.sidebar{
  position: sticky;
  display: flex;
  justify-content: center;
  top:15vh;
  right: 0;
  left: 0;
  margin: auto;
  height: inherit;
}

.nav{
  display: flex;
  flex-direction: column;
}

.sidebar li{
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #333;
  font-size: 1.3rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.sidebar li a{
  color: #fff;
  display: block;
  writing-mode: vertical-rl;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
