// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #699E00;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$body-font-size   : calc(13px + 0.4vw) !default;

$h1: (size: 2rem,     line-height: 2rem,     letter-spacing: normal,  weight: 700) !default;
$h2: (size: 1.75rem,  line-height: 1.75rem,  letter-spacing: normal,  weight: 500) !default;
$h3: (size: 1.5rem,   line-height: 1.5rem,   letter-spacing: normal,  weight: 500) !default;

@import '~quasar-variables-styl';
