// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&family=PT+Sans&family=Quicksand:wght@500&display=swap');

* {
  font-family: 'Noto Sans JP';
  font-size: calc(12px + 0.37vw);
}

h1 {
  font-size: 1.2rem;
}

p {
  font-weight: 300;
  line-height: 1.7em;
  font-size: 1rem;
}

b {
  font-size: 1.4rem;
}

.a {
  color: #1EB000;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;

  &:visited {
    color: #1EB000;
  }
}